@using GamingBlog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    #myCarousel {
        display: none;
    }
    .my-class{
        color:brown;
    }
</style>

<h style="color:#13395D;font-size:56px">@ViewBag.Title.</h>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3 style="color:aqua">Use a local account to log in.</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                <div class="form-group" style="color:white;font-size:large">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" , placeholder = "Enter User Name" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="color:white;font-size:large">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox" style="color:white;font-size:large">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-7" style="margin-left:250px">
                        <input type="submit" value="Log in" class="btn btn-danger" style="font-size:large" />
                    </div>
                </div>
                <p style="font-size:large">
                    @Html.ActionLink("Register as a new user", "Register",null, new { style = "color:blue" })
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
