@model IEnumerable<GamingBlog.Models.Category>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Dash.cshtml";
}

<h2>All Categories</h2>

<p>
    <span class="btn btn-primary" id="MyButtonID">@Html.ActionLink("Add Category", "CreateAdmin")</span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <span class="btn btn-success" id="myButton">
                @Html.ActionLink("Edit", "EditAdmin", new { id = item.ID })</span> |
            <span class="btn btn-primary" id="myButton">
                @Html.ActionLink("Details", "DetailsAdmin", new { id = item.ID })</span> |
            <span class="btn btn-danger" id="myButton">
                @Html.ActionLink("Delete", "DeleteAdmin", new { id = item.ID })</span>
</td>
    </tr>
}

</table>
