@model GamingBlog.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var comments = (IEnumerable<GamingBlog.Models.Rating>)ViewBag.ratings;
    var comment = (IEnumerable<GamingBlog.Models.Comment>)ViewBag.Commentss;
}


<div class="row">
    <div style="background-color:#0C5A66;box-shadow:  0 0 10px 5px rgba(0,0,0,0.8); -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.8);
        border-left-color:black;">
        <div class="row" style="padding-left:24px">
            <h1>@Html.DisplayFor(model => model.PostTitle)</h1>
        </div>
        <div class="row">
            <h4>
                <span class="glyphicon glyphicon-user" style="color:aqua;padding-left:24px"></span>
                <span style="color:white">By @Html.DisplayFor(model => model.AuthorName)</span>
            </h4>
        </div>
        <div class="row col-md-12">
            <div class="col-md-8" style="padding-left:30px">
                <img src="@Html.DisplayFor(model => model.ImageUrl)" style="width:100%;" class="img img-thumbnail img-responsive" />
            </div>
            <div class="col-md-4" style="padding:20px;text-align:center;height:auto">
                @Html.Partial("_Rating")
                <br />
                <div class="row">
                    @{
                        var per = 0.0;
                        var rat = ViewBag.Rate;
                    }
                    @if (ViewBag.Rate != null)
                    {
                        per = double.Parse(@Html.DisplayFor(model => model.Rating).ToString());
                        per = (per / 5.0) * 100;
                        <div class="progress-bar"
                             data-percent="@per" data-duration="1000" data-color="#ccc,#2B77B5"
                             style="padding-left:25%;text-align:center;color:black"></div>
                    }
                    else
                    {
                        <div class="progress-bar"
                             data-percent="@per" data-duration="1000" data-color="#ccc,#2B77B5"
                             style="padding-left:25%;text-align:center;color:black"></div>
                    }
                </div>

                <div class="row" style="height:200px"></div>
                <div class="row" style="padding:20px;">

                    <p style="color:white;text-align:center;font-size:medium">
                        <span class="glyphicon glyphicon-hand-right" style="color:aqua;"></span>&nbsp;&nbsp;&nbsp;Category: @Html.DisplayFor(model => model.PostCategory)
                    </p>

                </div>
            </div>
        </div>

        <div class="row col-md-12" style="padding:5%;font-size:medium">

            <p style="color:white;text-align:justify">
                @Html.DisplayFor(model => model.PostContent)
            </p>
            <hr />
            <p style="color:white">
                <span class="glyphicon glyphicon-calendar" style="color:aqua;"></span>
                <span>@Html.DisplayFor(model => model.Date)</span>&nbsp;&nbsp;
                <span>2</span>
                <span class="glyphicon glyphicon-comment" style="color:aqua;"></span>
            </p>
        </div>
   </div>
        </div>

    <div class="row">
        @if( ViewBag.tcomments == 0)
        {
            <div class="row"><p style="color:white;text-align:center">No Comments</p></div>
        }
        else
        {
            foreach (var item in ViewBag.Commentss)
            {
                <div class="well-sm" style="border-bottom:2px solid white;">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img img-responsive" src="@item.UserProfilePicture" width="50px" height="50px" style="border-radius:50%"/><span><strong>&nbsp; @item.AuthorName</strong></span>
                        </div>
                        <div class="col-md-8">
                            <p>@item.ContentOfComment</p>
                            <p style="text-align:right;"><i class="glyphicon glyphicon-calendar"> </i>@item.DateOfComment</p>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
@*<div style="background-color:#0C5A66;width:760px;height:auto;box-shadow:  0 0 10px 5px rgba(0,0,0,0.8); -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.8);
        border-left-color:black;filter: alpha(opacity=60); opacity: 0.8;float:left;margin-top:-380px" ;>
    <br />
    <span class="cmm-tabs-text-me" style="color:white;margin-left:20px;">Comments</span>
    <br /><br />
    <div style="width:30px;margin-right:5px;height:100%;float:left;margin-left:20px;">
        <img src="http://placekitten.com/45/45" style="width:100%;border-radius:50%" />
    </div>
    <div class="commentText" ; style="border: 2px solid black;">
        <p style="color:white">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p>
        <span class="date sub-text" style="margin-left:70px;color:darkorange">on March 5th, 2014</span>
        <a class="date sub-text" style="margin-left:40px;color:deeppink">Reply</a>
    </div>
    <div style="width:30px;margin-right:5px;height:100%;float:left;margin-left:20px;">
        <img src="http://placekitten.com/45/45" style="width:100%;border-radius:50%" />
    </div>
    <div class="commentText" ; style="border: 2px solid black;">
        <p style="color:white">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p>
        <span class="date sub-text" style="margin-left:70px;color:darkorange">on March 5th, 2014</span>
        <a class="date sub-text" style="margin-left:40px;color:deeppink">Reply</a>
    </div>
    <div style="width:30px;margin-right:5px;height:100%;float:left;margin-left:20px;">
        <img src="http://placekitten.com/45/45" style="width:100%;border-radius:50%" />
    </div>
    <div class="commentText" ; style="border: 2px solid black;">
        <p style="color:white">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p>
        <span class="date sub-text" style="margin-left:70px;color:darkorange">on March 5th, 2014</span>
        <a class="date sub-text" style="margin-left:40px;color:deeppink">Reply</a>
    </div>
    <br />
    <form>
        <div class="form-group">
            <textarea class="form-control" rows="5" id="comment" placeholder="Enter Your Comment" style="width:700px;margin-left:20px;"></textarea>
            <br />
            <button class="btn btn-success" style="margin-left:20px;width:90px;font-size:larger">Post</button>
        </div>
        <br />
    </form>*@


    <div>
        @Html.Partial("_Comment")
    </div>

    <span class="btn btn-primary" id="myButton">@Html.ActionLink("back to list", "index")</span>


<script type="text/javascript">
    $(".progress-bar").loading();
    $(document).ready(function () {
        $('.customer-logos').slick({
            slidestoshow: 6,
            slidestoscroll: 1,
            autoplay: true,
            autoplayspeed: 1000,
            arrows: false,
            dots: false,
            pauseonhover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidestoshow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidestoshow: 3
                }
            }]
        });
    });
</script>
