@using PagedList.Mvc;
@model PagedList.IPagedList<GamingBlog.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container{
        width:4000px;
    }
</style>

<br />
<div class="container">
    <section id="home-section">
        @using (Html.BeginForm("Index", "Shops", FormMethod.Get))
        {
            <span>    </span><span>
                <select name="productCategory" style="width:20%;line-height:30px;background-color:#233c4f;
                    color:white;font-size:27px;border-radius:4px;border:1px solid #AAAAAA;" class="btn-group">
                    @foreach (var item in ViewBag.products)
                    {
                        <option style="font-size:large" value="@item">@item</option>
                    }
                </select>
                <input type="submit" value="Filter" class="btn btn-primary" />
            </span>
        }
        <br />

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="panel" style="background-color:ButtonText;opacity:0.8">
                        <div class="panel-body">
                            <img src="@item.ImageUrl" style="height:20%;display:block" class="img-thumbnail img-responsive image cloud-zoom" />
                            <div class="middle" style="padding-left:160px;padding-top:60px">
                                <span class="btn btn-success" id="myButton">
                                    @Html.ActionLink("View Details", "Details", new { id = item.ProductID })
                                </span>
                            </div>
                            <p style="color:white">
                                <span class="glyphicon glyphicon-hand-right" style="color:aqua;"></span>
                                <span>  Category: @item.ProductCategory</span>&nbsp;&nbsp;
                            </p>
                            <p>
                                <span style="color:aqua;">Price:</span>
                                <span>$@item.ProductPrice</span>
                            </p>
                           
                        </div>
                    </div>

                </div>
                                }
        </div>
</div>

<br />
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

</section>